@import "~bootstrap/scss/bootstrap.scss";
@import "bootstrap-variable-override";
@import "ck-editor-override";
// @font-face {
//   font-family: 'Cordia';
//   src: url("~@/assets/fonts/cordia.ttf");
// }


.content-main {
  width: calc(100% - 24px);
  height: calc(100vh - 80px);
  // margin-left: 90px;
  margin-top: 10px; // display: flex;
  margin-left: 10px;
}

.content-body {
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  /* ค่า default จะเป็น row */
}

.right-text {
  position: absolute; // bottom: 0px;
  right: 20px;
}

.pointer {
  cursor: pointer;
}

