.font-40-black-bold{
  font-size: 40px;
  color: #404040;
  font-weight: bold;
}
.font-60-black-bold{
  font-size: 60px;
  color: #404040;
  font-weight: bold;
}

.span-in-button{

  // font-size: 19px;
}
