.box-filter {
  width: 100%;
  margin: auto;
  border: 1px solid #ced4da;
}

.td-3 {
  word-break: break-word;
  width: 3vw;
  max-width: 3vw;
  min-width: 3vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-4 {
  word-break: break-word;
  width: 4vw;
  max-width: 4vw;
  min-width: 4vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-5 {
  word-break: break-word;
  width: 5vw;
  max-width: 5vw;
  min-width: 5vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-6 {
  word-break: break-word;
  width: 6vw;
  max-width: 6vw;
  min-width: 6vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-7 {
  word-break: break-word;
  width: 7vw;
  max-width: 7vw;
  min-width: 7vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-8 {
  word-break: break-word;
  width: 8vw;
  max-width: 8vw;
  min-width: 8vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-10 {
  word-break: break-word;
  width: 10vw;
  max-width: 10vw;
  min-width: 10vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-11 {
  word-break: break-word;
  width: 11vw;
  max-width: 11vw;
  min-width: 11vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-12 {
  word-break: break-word;
  width: 12vw;
  max-width: 12vw;
  min-width: 12vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-13 {
  word-break: break-word;
  width: 13vw;
  max-width: 13vw;
  min-width: 13vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-15 {
  word-break: break-word;
  width: 15vw;
  max-width: 15vw;
  min-width: 15vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-16 {
  word-break: break-word;
  width: 16vw;
  max-width: 16vw;
  min-width: 16vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-17 {
  word-break: break-word;
  width: 17vw;
  max-width: 17vw;
  min-width: 17vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-18 {
  word-break: break-word;
  width: 18vw;
  max-width: 18vw;
  min-width: 18vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-19 {
  word-break: break-word;
  width: 19vw;
  max-width: 19vw;
  min-width: 19vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-20 {
  word-break: break-word;
  width: 20vw;
  max-width: 20vw;
  min-width: 20vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-25 {
  word-break: break-word;
  width: 25vw;
  max-width: 25vw;
  min-width: 25vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-26 {
  word-break: break-word;
  width: 26vw;
  max-width: 26vw;
  min-width: 26vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-27 {
  word-break: break-word;
  width: 27vw;
  max-width: 27vw;
  min-width: 27vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-28 {
  word-break: break-word;
  width: 28vw;
  max-width: 28vw;
  min-width: 28vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-29 {
  word-break: break-word;
  width: 29vw;
  max-width: 29vw;
  min-width: 29vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-30 {
  word-break: break-word;
  width: 30vw;
  max-width: 30vw;
  min-width: 30vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-32 {
  word-break: break-word;
  width: 32vw;
  max-width: 32vw;
  min-width: 32vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}


.td-33 {
  word-break: break-word;
  width: 33vw;
  max-width: 33vw;
  min-width: 33vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-35 {
  word-break: break-word;
  width: 35vw;
  max-width: 35vw;
  min-width: 35vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-38 {
  word-break: break-word;
  width: 38vw;
  max-width: 38vw;
  min-width: 38vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}



.td-40 {
  word-break: break-word;
  width: 40vw;
  max-width: 40vw;
  min-width: 40vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-41 {
  word-break: break-word;
  width: 41vw;
  max-width: 41vw;
  min-width: 41vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-42 {
  word-break: break-word;
  width: 42vw;
  max-width: 42vw;
  min-width: 42vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-45 {
  word-break: break-word;
  width: 45vw;
  max-width: 45vw;
  min-width: 45vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-50 {
  word-break: break-word;
  width: 50vw;
  max-width: 50vw;
  min-width: 50vw;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

.td-center {
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-3 {
  word-break: break-word;
  width: 3vw;
  max-width: 3vw;
  min-width: 3vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-4 {
  word-break: break-word;
  width: 4vw;
  max-width: 4vw;
  min-width: 4vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-5 {
  word-break: break-word;
  width: 5vw;
  max-width: 5vw;
  min-width: 5vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-6 {
  word-break: break-word;
  width: 6vw;
  max-width: 6vw;
  min-width: 6vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-7 {
  word-break: break-word;
  width: 7vw;
  max-width: 7vw;
  min-width: 7vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-8 {
  word-break: break-word;
  width: 8vw;
  max-width: 8vw;
  min-width: 8vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-10 {
  word-break: break-word;
  width: 10vw;
  max-width: 10vw;
  min-width: 10vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-11 {
  word-break: break-word;
  width: 11vw;
  max-width: 11vw;
  min-width: 11vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-12 {
  word-break: break-word;
  width: 12vw;
  max-width: 12vw;
  min-width: 12vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-13 {
  word-break: break-word;
  width: 13vw;
  max-width: 13vw;
  min-width: 13vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-15 {
  word-break: break-word;
  width: 15vw;
  max-width: 15vw;
  min-width: 15vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-16 {
  word-break: break-word;
  width: 16vw;
  max-width: 16vw;
  min-width: 16vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-17 {
  word-break: break-word;
  width: 17vw;
  max-width: 17vw;
  min-width: 17vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-18 {
  word-break: break-word;
  width: 18vw;
  max-width: 18vw;
  min-width: 18vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-19 {
  word-break: break-word;
  width: 19vw;
  max-width: 19vw;
  min-width: 19vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-20 {
  word-break: break-word;
  width: 20vw;
  max-width: 20vw;
  min-width: 20vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-25 {
  word-break: break-word;
  width: 25vw;
  max-width: 25vw;
  min-width: 25vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-26 {
  word-break: break-word;
  width: 26vw;
  max-width: 26vw;
  min-width: 26vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-27 {
  word-break: break-word;
  width: 27vw;
  max-width: 27vw;
  min-width: 27vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-28 {
  word-break: break-word;
  width: 28vw;
  max-width: 28vw;
  min-width: 28vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-29 {
  word-break: break-word;
  width: 29vw;
  max-width: 29vw;
  min-width: 29vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-30 {
  word-break: break-word;
  width: 30vw;
  max-width: 30vw;
  min-width: 30vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-32 {
  word-break: break-word;
  width: 32vw;
  max-width: 32vw;
  min-width: 32vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-33 {
  word-break: break-word;
  width: 33vw;
  max-width: 33vw;
  min-width: 33vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-35 {
  word-break: break-word;
  width: 35vw;
  max-width: 35vw;
  min-width: 35vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}


th.td-38 {
  word-break: break-word;
  width: 38vw;
  max-width: 38vw;
  min-width: 38vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}



th.td-40 {
  word-break: break-word;
  width: 40vw;
  max-width: 40vw;
  min-width: 40vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-41 {
  word-break: break-word;
  width: 41vw;
  max-width: 41vw;
  min-width: 41vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-42 {
  word-break: break-word;
  width: 42vw;
  max-width: 42vw;
  min-width: 42vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-45 {
  word-break: break-word;
  width: 45vw;
  max-width: 45vw;
  min-width: 45vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.td-50 {
  word-break: break-word;
  width: 50vw;
  max-width: 50vw;
  min-width: 50vw;
  text-align: center;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

td.icon {
  word-break: break-word;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
  cursor: pointer;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}

th.icon {
  word-break: break-word;
  width: 14px;
  max-width: 14px;
  min-width: 14px;
  // cursor: pointer;
  text-overflow: ellipsis !important;
  overflow: hidden !important;
  white-space: nowrap;
}
